
<div class="container_new_url_page">
  <h4 style="color:#01B878;">Ajoutez un nouveau bien</h4>
  <p> Créez-vos fiches "appartement" remplissant toutes les urls sur lesquels vous avez mis votre bien en ligne (ex : Orpi, Leboncoin, Seloger, Logic-immo etc..)</p>
  <div class="contenu-url-apercu">
    <div class='urls-input'>
    <%= simple_form_for [@agency, @flat] do |f|%>
      <%= f.input :url, placeholder: 'ex: https://www.orpi.com/annonce-location-appartement-t3-paris-20-75020-b-e0jyf7/' %>
      <%= text_field_tag :url_2, nil, placeholder: 'ex: https://www.orpi.com/annonce-location-appartement-t3-paris-20-75020-b-e0jyf7/' %>
      <%= text_field_tag :url_3, nil, placeholder: 'ex: https://www.leboncoin.fr/locations/1437041688.htm/?ca=12_s' %>

      <%= f.button :submit, 'Ajoutez un bien', :class => 'btoun-rose-cool create' %>
    <% end %>
  </div>
  <div class="apercu">
    <% if @flat.url_flats.present? %>
      <%= render 'shared/flat_card', flat: @flat %>
      <% end %>
    </div>
  </div>
</div>

