<div id="carousel-example-generic" class="carousel slide visible-md visible-lg" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="row">
        <div class="col-md-6">
          <div class="card-home">
            <div class="card-profile">
              <div class="card-profile-picture"><%=image_tag("https://images.unsplash.com/photo-1496345875659-11f7dd282d1d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a0f994eef47e5fb1a67849703cc961b3&auto=format&fit=crop&w=400&h=400&q=80")%></div>
              <div class="card-profile-firstname">Jéremy Legrand</div>
            </div>
            <div class="card-comment">
              <div class="card-profile-usertype">L'avis d'un locataire</div>
              <div class="card-comment-star">
                <i class="fa fa-star" style="color:#ECBF40"></i>
                <i class="fa fa-star" style="color:#ECBF40"></i>
                <i class="fa fa-star" style="color:#ECBF40"></i>
                <i class="fa fa-star" style="color:#ECBF40"></i>
                <i class="fa fa-star" style="color:#ECBF40"></i>
              </div>
              <div class="card-comment-text">
                <p>J'utilise cette application depuis que je cherche à louer et je ne suis vraiment
                pas décu, tout est très clair et les dossiers sont bien pratiques!</p>
              </div>
            </div>
          </div>
        </div><!-- End-Block -->
        <div class="col-md-6">
          <div class="card-home">
            <div class="card-profile" style="background-color:#8E4F51">
              <div class="card-profile-picture"><%=image_tag("https://images.unsplash.com/photo-1527578444645-85bbbb91d53c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5067a414c7d50feb317d9c9979b06007&auto=format&fit=crop&w=400&h=400&q=80", alt: "")%></div>
              <div class="card-profile-firstname">Marie Claire</div>
              <div class="card-profile-name"></div>
            </div>
            <div class="card-comment">
              <div class="card-profile-usertype">L'avis d'une agence</div>
              <div class="card-comment-star">
                <i class="fa fa-star" style="color:#ECBF40"></i>
                <i class="fa fa-star" style="color:#ECBF40"></i>
                <i class="fa fa-star" style="color:#ECBF40"></i>
                <i class="fa fa-star" style="color:#ECBF40"></i>
                <i class="fa fa-star" style="color:#FFF"></i>
              </div>
              <div class="card-comment-text">
                <p>Les différents fonctionnalités sont bien faites et je m'apercois qu'il y a
                beaucoup plus de fluidité qu'avant dans notre service.</p>
              </div>
            </div>
          </div>
        </div><!-- End-Block -->
      </div><!-- End-Row -->
    </div>
    <div class="item">
      <div class="row">
        <div class="col-md-6">
          <div class="card-home">
            <div class="card-profile">
              <div class="card-profile-picture"><%=image_tag("https://images.unsplash.com/photo-1518725522904-4b3939358342?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2bf818ae827d15aa783baaa717d9c1be&auto=format&fit=crop&w=400&h=400&q=80", alt: "")%></div>
              <div class="card-profile-firstname">Jack Sparks</div>
            </div>
            <div class="card-comment">
              <div class="card-profile-usertype">L'avis d'un locataire</div>
              <div class="card-comment-star">
                <i class="fa fa-star" style="color:#ECBF40"></i>
                <i class="fa fa-star" style="color:#ECBF40"></i>
                <i class="fa fa-star" style="color:#ECBF40"></i>
                <i class="fa fa-star" style="color:#FFF"></i>
                <i class="fa fa-star" style="color:#FFF"></i>
              </div>
              <div class="card-comment-text">
                <p>Très bien très complet incontournable mais quelques bugs à fixer.</p>
              </div>
            </div>
          </div>
        </div><!-- End-Block -->
        <div class="col-md-6">
          <div class="card-home">
            <div class="card-profile" style="background-color:#8E4F51">
              <div class="card-profile-picture"><%=image_tag("https://images.unsplash.com/photo-1490195117352-aa267f47f2d9?ixlib=rb-0.3.5&s=51695fce8ea0cd49359d08640e7f0dea&auto=format&fit=crop&w=400&h=400&q=80", alt: "")%></div>
              <div class="card-profile-firstname">Judy Belleruche</div>
              <div class="card-profile-name"></div>
            </div>
            <div class="card-comment">
              <div class="card-profile-usertype">L'avis d'une agence</div>
              <div class="card-comment-star">
                <i class="fa fa-star" style="color:#ECBF40"></i>
                <i class="fa fa-star" style="color:#ECBF40"></i>
                <i class="fa fa-star" style="color:#ECBF40"></i>
                <i class="fa fa-star" style="color:#ECBF40"></i>
                <i class="fa fa-star" style="color:#ECBF40"></i>
              </div>
              <div class="card-comment-text">
                <p>L'utilisation de cette application est très agréable. Les fiches par locataire sont
                complètes.</p>
              </div>
            </div>
          </div>
        </div><!-- End-Block -->
      </div><!-- End-Row -->
    </div>
    <div class="item">
      <div class="row">
        <div class="col-md-6">
          <div class="card-home">
            <div class="card-profile">
              <div class="card-profile-picture"><%=image_tag("https://images.unsplash.com/photo-1495490140452-5a226aef25d4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c97011af9022f43be45b8557dcc13b91&auto=format&fit=crop&w=400&h=400&q=80", alt: "")%></div>
              <div class="card-profile-firstname">Holly Chen</div>
            </div>
            <div class="card-comment">
              <div class="card-profile-usertype">L'avis d'un locataire</div>
              <div class="card-comment-star">
                <i class="fa fa-star" style="color:#ECBF40"></i>
                <i class="fa fa-star" style="color:#ECBF40"></i>
                <i class="fa fa-star" style="color:#ECBF40"></i>
                <i class="fa fa-star" style="color:#ECBF40"></i>
                <i class="fa fa-star" style="color:#FFF"></i>
              </div>
              <div class="card-comment-text">
                <p>J'ai consulté beaucoup de sites ressemblants je dois dire que celui-là est particulièrement pratique facile clair et complet pour tout.</p>
              </div>
            </div>
          </div>
        </div><!-- End-Block -->
        <div class="col-md-6">
          <div class="card-home">
            <div class="card-profile" style="background-color:#8E4F51">
              <div class="card-profile-picture"><%=image_tag("https://images.unsplash.com/photo-1485274466491-6c0baa1cfc2a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a638b2b41d48f0bea0d5cf63f5cee011&auto=format&fit=crop&w=400&h=400&q=80", alt: "")%></div>
              <div class="card-profile-firstname">Ken Finch</div>
              <div class="card-profile-name"></div>
            </div>
            <div class="card-comment">
              <div class="card-profile-usertype">L'avis d'une agence</div>
              <div class="card-comment-star">
                <i class="fa fa-star" style="color:#ECBF40"></i>
                <i class="fa fa-star" style="color:#ECBF40"></i>
                <i class="fa fa-star" style="color:#ECBF40"></i>
                <i class="fa fa-star" style="color:#ECBF40"></i>
                <i class="fa fa-star" style="color:#ECBF40"></i>
              </div>
              <div class="card-comment-text">
                <p>Une très bonne application web qui facilite la vie!</p>
              </div>
            </div>
          </div>
        </div><!-- End-Block -->
      </div><!-- End-Row -->
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div><!-- End-Carousel -->



<div id="carousel-example-generic" class="carousel slide visible-xs visible-sm" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="row">
        <div class="col-md-6">
          <div class="card-home">
            <div class="card-profile">
              <div class="card-profile-picture">
                <%= image_tag("avatar_phb.png")%>
              </div>
              <div class="card-profile-firstname">Paul-Henri <br> Blaiset</div>
            </div>
            <div class="card-comment">
              <div class="card-profile-usertype">L'avis d'un locataire</div>
              <div class="card-comment-star">
                <i class="fa fa-star" style="color:#ECBF40"></i>
                <i class="fa fa-star" style="color:#ECBF40"></i>
                <i class="fa fa-star" style="color:#ECBF40"></i>
                <i class="fa fa-star" style="color:#ECBF40"></i>
                <i class="fa fa-star" style="color:#ECBF40"></i>
              </div>
              <div class="card-comment-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus nesciunt at, minima a eos delectus atque eveniet voluptatem enim ut, vero, itaque commodi, expedita quae nemo. Saepe deserunt tempora sunt!</p>
              </div>
            </div>
          </div>
        </div><!-- End-Block -->
        <div class="col-md-6">
          <div class="card-home">
            <div class="card-profile" style="background-color:#8E4F51">
              <div class="card-profile-picture"><%=image_tag("https://picsum.photos/75/75", alt: "")%></div>
              <div class="card-profile-firstname">Lorem</div>
              <div class="card-profile-name"></div>
            </div>
            <div class="card-comment">
              <div class="card-profile-usertype">L'avis d'une agence</div>
              <div class="card-comment-star">
                <i class="fa fa-star" style="color:#ECBF40"></i>
                <i class="fa fa-star" style="color:#ECBF40"></i>
                <i class="fa fa-star" style="color:#ECBF40"></i>
                <i class="fa fa-star" style="color:#ECBF40"></i>
                <i class="fa fa-star" style="color:#ECBF40"></i>
              </div>
              <div class="card-comment-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus nesciunt at, minima a eos delectus atque eveniet voluptatem enim ut, vero, itaque commodi, expedita quae nemo. Saepe deserunt tempora sunt!</p>
              </div>
            </div>
          </div>
        </div><!-- End-Block -->
      </div><!-- End-Row -->
    </div>
    <div class="item">
      <div class="row">
        <div class="col-xs-12 col-sm-12 card-home">
          <div class="card-profile" style="background-color:#8E4F51">
              <div class="card-profile-picture"><%=image_tag("https://picsum.photos/75/75", alt: "")%></div>
              <div class="card-profile-firstname">Lorem</div>
              <div class="card-profile-name"></div>
            </div>
            <div class="card-comment">
              <div class="card-profile-usertype">L'avis d'une agence</div>
              <div class="card-comment-star">
                <i class="fa fa-star" style="color:#ECBF40"></i>
                <i class="fa fa-star" style="color:#ECBF40"></i>
                <i class="fa fa-star" style="color:#ECBF40"></i>
                <i class="fa fa-star" style="color:#ECBF40"></i>
                <i class="fa fa-star" style="color:#ECBF40"></i>
              </div>
              <div class="card-comment-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus nesciunt at, minima a eos delectus atque eveniet voluptatem enim ut, vero, itaque commodi, expedita quae nemo. Saepe deserunt tempora sunt!</p>
              </div>
          </div>
        </div><!-- End-Block -->
      </div><!-- End-Row -->
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div><!-- End-Carousel -->
