<div id="carousel-example-generic" class="carousel slide visible-md visible-lg" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="row">
        <div class="col-md-6">
          <div class="card-home">
            <div class="card-profile">
              <div class="card-profile-picture"><%=image_tag("https://picsum.photos/75/75", alt: "")%></div>
              <div class="card-profile-firstname">Lorem</div>
              <div class="card-profile-name">Lorem-Lorem</div>
            </div>
            <div class="card-comment">
              <div class="card-comment-star">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <div class="card-comment-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus nesciunt at, minima a eos delectus atque eveniet voluptatem enim ut, vero, itaque commodi, expedita quae nemo. Saepe deserunt tempora sunt!</p>
              </div>
            </div>
          </div>
        </div><!-- End-Block -->
        <div class="col-md-6">
          <div class="card-home">
            <div class="card-profile">
              <div class="card-profile-picture"><%=image_tag("https://picsum.photos/75/75", alt: "")%></div>
              <div class="card-profile-firstname">Lorem</div>
              <div class="card-profile-name">Lorem-Lorem</div>
            </div>
            <div class="card-comment">
              <div class="card-comment-star">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <div class="card-comment-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus nesciunt at, minima a eos delectus atque eveniet voluptatem enim ut, vero, itaque commodi, expedita quae nemo. Saepe deserunt tempora sunt!</p>
              </div>
            </div>
          </div>
        </div><!-- End-Block -->
      </div><!-- End-Row -->
    </div>
    <div class="item">
      <div class="row">
        <div class="col-md-6">
          <div class="card-home">
            <div class="card-profile">
              <div class="card-profile-picture"><%=image_tag("https://picsum.photos/75/75", alt: "")%></div>
              <div class="card-profile-firstname">Lorem</div>
              <div class="card-profile-name">Lorem-Lorem</div>
            </div>
            <div class="card-comment">
              <div class="card-comment-star">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <div class="card-comment-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus nesciunt at, minima a eos delectus atque eveniet voluptatem enim ut, vero, itaque commodi, expedita quae nemo. Saepe deserunt tempora sunt!</p>
              </div>
            </div>
          </div>
        </div><!-- End-Block -->
        <div class="col-md-6">
          <div class="card-home">
            <div class="card-profile">
              <div class="card-profile-picture"><%=image_tag("https://picsum.photos/75/75", alt: "")%></div>
              <div class="card-profile-firstname">Lorem</div>
              <div class="card-profile-name">Lorem-Lorem</div>
            </div>
            <div class="card-comment">
              <div class="card-comment-star">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <div class="card-comment-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus nesciunt at, minima a eos delectus atque eveniet voluptatem enim ut, vero, itaque commodi, expedita quae nemo. Saepe deserunt tempora sunt!</p>
              </div>
            </div>
          </div>
        </div><!-- End-Block -->
      </div><!-- End-Row -->
    </div>
    <div class="item">
      <div class="row">
        <div class="col-md-6">
          <div class="card-home">
            <div class="card-profile">
              <div class="card-profile-picture"><%=image_tag("https://picsum.photos/75/75", alt: "")%></div>
              <div class="card-profile-firstname">Lorem</div>
              <div class="card-profile-name">Lorem-Lorem</div>
            </div>
            <div class="card-comment">
              <div class="card-comment-star">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <div class="card-comment-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus nesciunt at, minima a eos delectus atque eveniet voluptatem enim ut, vero, itaque commodi, expedita quae nemo. Saepe deserunt tempora sunt!</p>
              </div>
            </div>
          </div>
        </div><!-- End-Block -->
        <div class="col-md-6">
          <div class="card-home">
            <div class="card-profile">
              <div class="card-profile-picture"><%=image_tag("https://picsum.photos/75/75", alt: "")%></div>
              <div class="card-profile-firstname">Lorem</div>
              <div class="card-profile-name">Lorem-Lorem</div>
            </div>
            <div class="card-comment">
              <div class="card-comment-star">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <div class="card-comment-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus nesciunt at, minima a eos delectus atque eveniet voluptatem enim ut, vero, itaque commodi, expedita quae nemo. Saepe deserunt tempora sunt!</p>
              </div>
            </div>
          </div>
        </div><!-- End-Block -->
      </div><!-- End-Row -->
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div><!-- End-Carousel -->



<div id="carousel-example-generic" class="carousel slide visible-xs visible-sm" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="row">
        <div class="col-xs-12 col-sm-12 card-home">
          <div class="card-profile">
            <div class="card-profile-picture"><%=image_tag("https://picsum.photos/75/75", alt: "")%></div>
            <div class="card-profile-firstname">Lorem</div>
            <div class="card-profile-name">Lorem-Lorem</div>
          </div>
          <div class="card-comment">
            <div class="card-comment-star">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <div class="card-comment-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus nesciunt at, minima a eos delectus atque eveniet voluptatem enim ut, vero, itaque commodi, expedita quae nemo. Saepe deserunt tempora sunt!</p>
            </div>
          </div>
        </div><!-- End-Block -->
      </div><!-- End-Row -->
    </div>
    <div class="item">
      <div class="row">
        <div class="col-xs-12 col-sm-12 card-home">
          <div class="card-profile">
            <div class="card-profile-picture"><%=image_tag("https://picsum.photos/75/75", alt: "")%></div>
            <div class="card-profile-firstname">Lorem</div>
            <div class="card-profile-name">Lorem-Lorem</div>
          </div>
          <div class="card-comment">
            <div class="card-comment-star">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <div class="card-comment-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus nesciunt at, minima a eos delectus atque eveniet voluptatem enim ut, vero, itaque commodi, expedita quae nemo. Saepe deserunt tempora sunt!</p>
            </div>
          </div>
        </div><!-- End-Block -->
      </div><!-- End-Row -->
    </div>
    <div class="item">
      <div class="row">
        <div class="col-xs-12 col-sm-12 card-home">
          <div class="card-profile">
            <div class="card-profile-picture"><%=image_tag("https://picsum.photos/75/75", alt: "")%></div>
            <div class="card-profile-firstname">Lorem</div>
            <div class="card-profile-name">Lorem-Lorem</div>
          </div>
          <div class="card-comment">
            <div class="card-comment-star">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <div class="card-comment-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus nesciunt at, minima a eos delectus atque eveniet voluptatem enim ut, vero, itaque commodi, expedita quae nemo. Saepe deserunt tempora sunt!</p>
            </div>
          </div>
        </div><!-- End-Block -->
      </div><!-- End-Row -->
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div><!-- End-Carousel -->
