<div class="container-form-profile">
  <%= simple_form_for(@user) do |f|%>
    <div class="form-section">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
          <h3>1 - Etat civil</h3>
          <%= f.input :gender %>
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :phone_number %>
          <%= f.input :work_situation %>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
            <%= f.input :identity_card, input_html: { class: 'custom-file-input' }, wrapper_html: { class: 'custom-file' } %>
          <%= f.input :identity_card_cache, as: :hidden, input_html: { class: 'custom-file-input' } %>
        </div>
      </div>
    </div><!-- End-Section -->
    <div class="form-section">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
          <h3>2 - Situation professionnelle</h3>
          <%= f.input :job_name %>
          <%= f.input :salary_by_month %>
          <%= f.input :first_day_of_work, as: :string, required: false, input_html: {class: "datepicker"} %>
          <%= f.input :employment_contract, input_html: { class: 'custom-file-input' }, wrapper_html: { class: 'custom-file' } %>
          <%= f.input :employment_contract_cache, as: :hidden, input_html: { class: 'custom-file-input' } %>
          <%= f.input :pay_slip_1, input_html: { class: 'custom-file-input' }, wrapper_html: { class: 'custom-file' } %>
          <%= f.input :pay_slip_1_cache, as: :hidden, input_html: { class: 'custom-file-input' } %>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <%= f.input :pay_slip_2, input_html: { class: 'custom-file-input' }, wrapper_html: { class: 'custom-file' } %>
          <%= f.input :pay_slip_2_cache, as: :hidden, input_html: { class: 'custom-file-input' } %>
          <%= f.input :pay_slip_3, input_html: { class: 'custom-file-input' }, wrapper_html: { class: 'custom-file' } %>
          <%= f.input :pay_slip_3_cache, as: :hidden, input_html: { class: 'custom-file-input' } %>
        </div>
      </div>
    </div><!-- End-Section -->
    <div class="form-section">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
          <h3>3 - Situation locative</h3>
          <%= f.input :rental_status %>
          <%= f.input :actual_rent_price %>
          <%= f.input :actual_rent_bill, input_html: { class: 'custom-file-input' }, wrapper_html: { class: 'custom-file' } %>
          <%= f.input :actual_rent_bill_cache, as: :hidden, input_html: { class: 'custom-file-input' } %>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <h3>4 - Situation fiscale</h3>
          <%= f.input :year_legal_income %>
          <%= f.input :tax_notice, input_html: { class: 'custom-file-input' }, wrapper_html: { class: 'custom-file' } %>
          <%= f.input :tax_notice_cache, as: :hidden, input_html: { class: 'custom-file-input' } %>
          <div>
            <%= f.button :submit, :class => 'btn btn-send' %>
          </div>
        </div>
      </div>
    </div><!-- End-Section -->
  <% end %><!-- End-Form -->
</div>
