<div id="mySidenav" class="sidenav">
  <div class="sidebar-logo-container">
    <div>
    <%= link_to root_path , class: "navbar-wagon-brand" do %>
    <%= image_tag "logo_white.png", height: 15 %>
    </div>
    <p style="font-family: Assistant">Lalagence</p>
    <% end %>
  </div>
  <div class="profil-container">
    <div class ="avatar">
      <%= image_tag("avatar_phb.png") %>
    </div>
    <div class="avatar-info">
      <% if current_user.first_name %>
      <%= current_user.first_name %><br><%= current_user.last_name %>
      <% else %>
        <%= current_user.email %>
      <% end %>
    </div>
  </div>

  <div class="name"></div>
  <!-- s -->
  <% if current_user.agency_id %>
  <div class="side-bar-menu">
    <% agency_id = User.find(current_user.id).agency_id %>
    <% agency = Agency.find(agency_id) %>
    <%= link_to "Vos candidatures", agency_path(agency) %>
    <%= link_to "Vos appartements", agency_flats_path(agency) %>
  </div>
  <% else %>
  <div class="side-bar-menu">
    <%= link_to "Mon dossier", edit_user_path(current_user) %>
    <%= link_to "Ma sélection", '#' %>
    <%= link_to "Mon historique", user_candidatures_path(current_user) %>
    <%= link_to "Déposer son dossier", "#" %>
  </div>
  <% end %>

  <div class="side-bar-menu">
     <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, style:"font-size:12px;text-align:center;color:#1E2939;margin-right:30px" %>
  </div>
</div>

<!-- Use any element to open the sidenav -->
<!-- <span onclick="openNav()">open</span> -->

<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<!-- <div id="main">
  <%#= render 'shared/form' %>
</div>
 -->
