<% if current_user.agency_id %>
  <div id="mySidenav" class="sidenav-agency">
    <div class="sidebar-logo-container">
      <div>
      <%= link_to root_path , class: "navbar-wagon-brand" do %>
      <%= image_tag "logo_white.png", height: 15 %>
      </div>
      <p style="font-family: Assistant">Lalagence PRO</p>
      <% end %>
    </div>
    <div class="profil-container">
      <div class="avatar-info">
        Bonjour
        <% if current_user.first_name %>
        <h3> <%= current_user.first_name %> <%= current_user.last_name %> ! </h3>
        <% else %>
          <%= current_user.email %>
        <% end %>
      </div>
      <div class="agence-bonjour">
        <% agency_id = User.find(current_user.id).agency_id %>
        <% agency = Agency.find(agency_id) %>
       <p> (Agence  : <%= agency.name  %>) </p>
      </div>
    </div>
    <div class="name"></div>
    <div class="side-bar-menu">
      <% agency_id = User.find(current_user.id).agency_id %>
      <% agency = Agency.find(agency_id) %>
      <%= link_to "Vos candidatures", agency_path(agency) %>
      <%= link_to "Vos appartements", agency_flats_path(agency) %>
    </div>
    <div class="side-bar-menu">
       <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, style:"font-size:12px;text-align:center;color:#3DEAB9;margin-right:30px" %>
    </div>
  </div>
<% else %>
  <div id="mySidenav" class="sidenav">
      <div class="sidebar-logo-container">
        <div>
        <%= link_to root_path , class: "navbar-wagon-brand" do %>
        <%= image_tag "logo_white.png", height: 15 %>
        </div>
        <p style="font-family: Assistant">Lalagence</p>
        <% end %>
      </div>
      <div class="profil-container">
        <div class ="avatar">
          <%= image_tag("avatar_phb.png") %>
        </div>
        <div class="avatar-info">
          <% if current_user.first_name %>
            <%= current_user.first_name %><br><%= current_user.last_name %>
          <% else %>
            <%= current_user.email %>
          <% end %>
        </div>
      </div>
      <div class="name"></div>
      <div class="side-bar-menu">
      <%= link_to "Mon dossier", edit_user_path(current_user) %>
      <%= link_to "Ma sélection", '#' %>
      <%= link_to "Mon historique", user_candidatures_path(current_user) %>
      <%= link_to "Déposer son dossier", "#" %>
      </div>
    <div class="side-bar-menu">
       <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, style:"font-size:12px;text-align:center;color:#1E2939;margin-right:30px" %>
    </div>
  </div>
<% end %>
