<div class="container-form">
  <div class="row">
    <div class="col-xs-6">
      <div class="form-section">
        <h2>Create your agency profil</h2>
        <%= simple_form_for(@user) do |f|%>
          <%= f.input :gender %>
          <%= f.input :first_name %>

          <%= f.input :birthday_date, as: :string, required: false, input_html: {class: "datepicker"} %>

          <%= f.input :phone_number %>
          <%= f.input :work_situation %>
          <%= f.input :identity_card, input_html: { class: 'custom-file-input' }, wrapper_html: { class: 'custom-file' } %>
          <%= f.input :identity_card_cache, as: :hidden, input_html: { class: 'custom-file-input' } %>
          <%= f.button :submit, :class => 'btn btn-primary' %>
          <% end %>
      </div>
    </div>
  </div>
</div>
