<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application' %> <!-- NEW! -->

    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
      <% if controller_name == 'sessions'||  controller_name =='candidatures' && action_name == 'show' || controller_name == 'registrations' %>
      <%= render 'shared/fixnavbar' %>
      <div class="container-navbar">
        <%= yield %>
        <%= render 'shared/banner' %>
        <%= render 'shared/footer' %>
      </div>
    <% elsif params['action'] == 'home' %>
      <%= render 'shared/navbar' %>
      <%= yield %>
      <%= render 'shared/banner' %>
      <%= render 'shared/footer' %>
    <% else %>
      <%= render 'shared/sidebar' %>
      <div class="container-rightofnavbar">
        <%= yield %>
      </div>
      <div class="footer-rightofnavbar">
      <%= render 'shared/footer' %>
      </div>

    <% end %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
